/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Playwrite+VN:wght@100..400&display=swap');

/* css variables */
:root {
    --primary-font: playwrite vn, sans-serif;
    --secondary-font: manjari, sans-serif;
    --primary-color: #353b3c;
    --secondary-color: #846a6a;
    --background-color: #dde1e4;
    --background-highlight: #c6c7c4;
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Genral styles */
body {
    font-family: var(--secondary-font);
    background-color: #dde1e4;
    padding-top: 57.15px;
    margin: 0%;
    /* pushes the top of the header down under fixed navbar */
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
}

.logo-font {
    font-family: var(--primary-font);
}

.section {
    padding: 0.5rem;
    /* prevent overlap */
    font-size: 1.5rem;
}

#line-break {
    color: var(--secondary-color);
}

/* navbar */

.navbar-custom {
    color: #353b3c;
    background-color: var(--background-highlight) !important;
}

.navbar-custom .nav-link {
    color: #353b3c;
}

.navbar-custom .nav-link.active {
    font-weight: bold;
}


#navbar .logo {
    width: 30px;
}

/* Style the hero section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--background-color);
    padding: 8rem 0;
}

/* carousel styling */
#affirmation-carousel{
    min-height: 220px;
}

/* Tips section */

#tips h2{
    padding-bottom: 0.5rem;
}
#tips ul {
    list-style-type: none;
    padding: 0%;
}
#tips-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* code taken from the love running project from code institute */
#circle-cover-bg {
    background: url("../images/tips-image.png") no-repeat center center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* makes the square image a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}
/* end of code block */

/* Footer / contact */

#contact {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding-bottom: 3rem;
    padding-top: 3rem;
}

#contact .table-dark * {
    background-color: transparent;
    color: var(--background-color);
}


/* Media queries */

/* Media query for larger or landscape phones (576px)*/
@media screen and (min-width: 576px){
    #tips ul {
        padding: 0;
    }

    #tips-1 ul, #tips-2 ul {
        text-align: center;
    }
}
/* Media query for tablets and larger (768px onward) */
@media screen and (min-width: 768px) {
    /* footer styling */
    #contact h2{
        padding-bottom: 1rem;
    }
}

/* media query for larger screens*/
@media screen and (min-width:1200px) {
    /* tips styling */
    #tips {
        display: flex;
        flex-wrap: wrap;
    }

    #tips h2{
        padding-bottom: 1rem;
    }
    
    #tips-image{
        order: 2;
    }
    
    #tips-2{
        order: 3;
    }

    #tips-2 ul {
        text-align: left;
    }

    #tips-1 ul{
        text-align: right;
    }
}