/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Playwrite+VN:wght@100..400&display=swap');

/* css variables */
:root {
    --primary-font: playwrite vn, sans-serif;
    --secondary-font: manjari, sans-serif;
    --primary-color: #353b3c;
    --secondary-color: #846a6a;
    --background-color: #dde1e4;
    --background-highlight: #c6c7c4;
}

/* Genral styles */
body{
    font-family: var(--secondary-font);
    background-color: #dde1e4;
    padding-top: 57.15px; /* pushes the top of the header down under fixed navbar */
}

h1,h2,h3{
    font-family: var(--primary-font);
}

.logo-font{
    font-family: var(--primary-font);
}

.section {
    padding-top: 4rem; /* prevent overlap */
    font-size: 1.5rem;
}


.navbar-custom {
    color: #353b3c;
    background-color: var(--background-highlight) !important;
}

.navbar-custom .nav-link {
    color: #353b3c;
}

.navbar-custom .nav-link.active {
    font-weight: bold;
}


#navbar .logo {
    width: 30px;
}

/* Style the hero section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--background-highlight);
    padding: 8rem 0;
}



/* Footer / contact */

#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact .table-dark * {
    background-color: transparent;
}